body {
    background: url("../images/hangman_background.jpg")no-repeat center center fixed;

    -webkit-background-size: 100% auto;
    
    -moz-background-size: 100% auto;
    
    -ms-background-size: 100% auto;
    
    -o-background-size: 100% auto;
    
    background-size: 100% auto;
    background-size: 100%;
    color: white;
}
#bandName {
    white-space: pre;
}